body {
    background-color:antiquewhite;
    font-family:'Copperplate Gothic Light';
}

.card {
    border-style: double;
    border-width: 30px;
    border-color: blueviolet;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 170px;
    margin-inline: 400px;
    background-color: aquamarine;
    text-align:center;
    box-shadow: 10px 10px 5px grey;
}

p {
    color: #333;
    line-height: 150%;
}

.lead {
    font-size: 18px;
    font-weight:600px;
}

#unique {
    color:orange;
    font-style: italic;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Segoe Print';
    color: plum;
    font-size:100px;
    text-align: center;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:cornflowerblue;
    font-size:35px;
    text-align:center;
}

a {
    color:darkcyan;
}

a:hover {
    color:yellowgreen;
}


.highlight {
    display: inline-block;
    background: yellow;
    border-radius: 25px;
}

.centered {
    margin: 0 auto;
    padding: 5px;
    width: 500px;
    height: 100px;
    background-color: rgb(25, 214, 227);
    border-radius: 50px;
    min-width: 100px; max-width: 500px;
    min-height: 100px; max-height: 300px;
    text-align: center;
    line-height: 100px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}